.nav-item .nav-link .active{
  color:  #145CE6;
}
.nav-item .nav-link {
  color: #23262F;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.nav-item{
  padding-bottom: 18px;
}

.nav-tabs .nav-link.active {
  color: #145CE6;
  background-color: none;
  border-color: none;
}