.swiper-next__button, .swiper-prev__button {
    border:0;
   
    padding:10px 12px;
    border-radius:50%;
    border: 1px solid #E6E8EC;

}

.swiper-next__button, .swiper-prev__button svg {
    fill :#1b4174 !important;
}
.swiper-prev__button{
    margin-right: 10px;
}
